<div class="main-box">
	<div class="clock-layout"></div>
	<div class="clock-layout clock-layout-resize">
		<div class="clock-dotted">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="clock-main">
		<div class="timer-layout">
			<div class="left-box">
				<span class="hour-box" ng-model="timer.hour">{{timer.hour}}</span>
			</div>
			<div class="right-box">
				<div class="minute-box" ng-model="timer.minute">{{timer.minute}}</div>
				<div class="date-box">
					<div class="day-box" ng-model="timer.day">{{timer.day}}</div>
					<div class="year-box" ng-model="timer.year">{{timer.year}}</div>
				</div>
			</div>
		</div>
		
	</div>
</div>